#click-game-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: var(--color-objects);
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-l) auto;
  box-sizing: border-box;
  padding: var(--spacing-s);
}

#click-score-display {
  font-size: var(--font-m);
  margin-bottom: var(--spacing-m);
}

button {
  font-size: var(font-s);
  padding: var(--spacing-s) var(--spacing-l);
  margin-bottom: var(--spacing-l);
}

.target {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: all;
}
